## List Data Structure in Python
- creating
- indexing
- slicing
- methods
- basics operations
- comprehension

In [1]:
X = []   #Empty List
a = [1,2,3,4]    #numbered list
b = ["alex",'alexa']  #alphabetical list
c = ["alexa",34,5,"alex"] #mixed list
d = [[1,2],[3,4],[4,5]]  #nested list

In [2]:
w = [1]*10 #List Duplication
print(w)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [6]:
L1 = [1,3,5,7,9]
L2 = [2,4,6,8]

L3 = L1+L2   #List Concatenation
print(L3)

D = [a,b] #nested List
print(D)

[1, 3, 5, 7, 9, 2, 4, 6, 8]
[[1, 2, 3, 4], ['alex', 'alexa']]

In [12]:
x = [1,2,3,4,5,6,7]
print(x[:3])
print(x[::-1])
print(x[2:4])
print(x[:3:-2])
print(x[::2])
print(x[1])
print(x[-1])

[1, 2, 3]
[7, 6, 5, 4, 3, 2, 1]
[3, 4]
[7, 5]
[1, 3, 5, 7]
2
7

In [16]:
#Traversal
for i in x:
    print(i,end= " ")

1 2 3 4 5 6 7

### Methods
- add
   - append
   - extend
   - insert
- remove
   - remove
   - pop
   - clear
- helper
   - index
   - count
   - sort
   - reverse
   - copy

In [29]:
books = []
books.append('The final Empire')  #append()
books.append('The Hero')
books.append('Warbreaker')
print(books)

books.insert(1, 'Warbreaker')     #insert()
print(books)

crappybooks = ["Twilight Saga", "Power of subconsious mind",'Thank you']
books.extend(crappybooks)    #extend()
print(books)

['The final Empire', 'The Hero', 'Warbreaker']
['The final Empire', 'Warbreaker', 'The Hero', 'Warbreaker']
['The final Empire', 'Warbreaker', 'The Hero', 'Warbreaker', 'Twilight Saga', 'Power of subconsious mind', 'Thank you']

In [30]:
nums = [1,3,5,7]
more_nums = [2,4,6,8]
nums.extend(more_nums)
print(nums)

[1, 3, 5, 7, 2, 4, 6, 8]

In [40]:
# x= []
# for i in range(5):
#     ans = input("enter value")
#     x+= ans 
# print(x)

x= []
total= 0
for i in range(5):
    a = int(input("enter value"))
    total +=a
    x.append(total)
print(f"The sum is: {total}")    
print(x)

The sum is: 15
[1, 3, 6, 10, 15]

In [41]:
books

['The final Empire',
 'Warbreaker',
 'The Hero',
 'Warbreaker',
 'Twilight Saga',
 'Power of subconsious mind',
 'Thank you']

In [45]:
#remove()

# books.remove("Warbreaker")
# books

def safe_remove(val_to_remove):
    if val_to_remove in books:
        books.remove(val_to_remove)
        print(f"{val_to_remove} is removed")
    else:
        print(f"{val_to_remove} is not found")
        
safe_remove("The Hero")

The Hero is removed

In [53]:
# pop()
# books.pop()
# books

# books.pop(0)  #remove element at index 1
# books

[]

In [54]:
books.clear()

In [3]:
x= ['a1','b2','a1']
print(x.count('a1'))
print(x.count('b1'))
print(x.count('c1'))

2
0
0

In [10]:
# x.sort()
# print(x)
print(x.sort(reverse=True))


x.reverse()
print(x)

None
['a1', 'a1', 'b2']

In [11]:
L1 = ['app','apps','avacado']
L1.sort(key = len)
print(L1)

['app', 'apps', 'avacado']

In [12]:
L1.index('app')
# return index of the first occurence of element

0

In [16]:
# l1_copy = L1   #copy by reference
l1_copy = L1.copy()  #copy by value
# print(L1)
print(L1)
print(l1_copy)

['app', 'apps', 'avacado']
['app', 'apps', 'avacado']

In [21]:
x = [1,2,3]
y = x  #copy by reference
x.append(4)
y.append(4)
print(x,y)

[1, 2, 3, 4, 4] [1, 2, 3, 4, 4]

In [19]:
x = [1,2,3]
y = x.copy()  #copy by value
x.append(4)
y.append(5)
print(x,y)

[1, 2, 3, 4] [1, 2, 3, 5]

In [22]:
#generating a list of number from existing number

x = [1,2,3,4]
x2 = []
for i in x:
    ans_sq = i*i
    x2.append(ans_sq)
print(x2)

[1, 4, 9, 16]

### List comprehension

syntax
```
new_list = [operation for item in list] 

```
syntax
```
new_list = [operation for item in list if expression] 

```

In [25]:
#List comprehension

x = [1,2,3,4]
x2 = [i**2 for i in x] 
print(x2)

[1, 4, 9, 16]

In [29]:
a = [1,2,3,4,5,6,7,8,9]
a1 = [i for i in a if i%2!=0]
print(a)
print(a1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [30]:
x = [1,2,3,4]
x2 = [i**3 for i in x if i%2==0] 
print(x2)

[8, 64]

In [1]:
print(len([1,2,3,4]))

4

In [4]:
round(4.576)

5

In [5]:
x = 2
for i in range(x):
    x+=1
    print(x)

3
4

In [9]:
for i in range(2.0):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [10]:
print(9//2)

4

In [3]:
inp = [2,3,4]
out = []
for i in inp:
    divisors = []
    for j in range(1,i+1):
        if i%j==0:
            divisors.append(j)
    out.append([i,divisors])
print(out)

[[2, [1, 2]], [3, [1, 3]], [4, [1, 2, 4]]]